$color1: #3399ff;
$color13: #11589c;;
$color12: #0E005F;
$color2: #003791;
$color3: #0063B2;
$color4: #008DC2;
$color5: #00B6C5;
$color6: #2BDEC3;
$color7: #FFD792;
$color8: #FFAE6A;
$color9: #FF8243;
$color10: #E26A2C;
$color11: #C65314;
