@import "../../../../variables.scss";

.footer {
    display: flex;
    background-color: $color1;
    padding-bottom: 1px;
    flex-direction: column;
    align-items: center;
    h1 {
        color: $color5;
    }
    .footer_item_list {
        display: flex;
        width: 97%;
        justify-content: center;
        .footer_item {
            list-style-type: none;
            border: groove;
            border-radius: 50px;
            border-color: $color5;
            padding: 20px;
            width: 50px;
            margin: 20px;
            .network_logo{
                fill: $color5;
            }
        }
    }
}
