@import "../../../../variables.scss";

.footer {
    display: flex;
    background-color: $color1;
    padding-bottom: 1px;
    flex-direction: column;
    align-items: center;
    h1 {
        color: white;
    }
    .footer_item_list {
        display: flex;
        justify-content: center;
        .footer_item {
            list-style-type: none;
            border: solid;
            border-radius: 50px;
            border-color: white;
            padding: 20px;
            width: 50px;
            margin: 20px;
            .network_logo{
                fill: white;
            }
            
        }
        .footer_item:hover{
            border-color: $color1;
            background-color: white;
            .network_logo{
                fill: $color1;
            }
        }
    }
    h4{
        color: white;
    }
}

@media screen and (max-width: 700px) {
    .footer_item {
        position: relative;
        left: -10px;
        width: 25px !important;
        padding: 10px !important;
        margin: 10px !important;
    }
  }