.navbar {
  width: 100vw;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 20px;
  position: fixed;
  -webkit-transition: background-color 500ms linear;
  -ms-transition: background-color 500ms linear;
  transition: background-color 500ms linear;
  z-index: 2;
  .logo {
    color: #fff;
    padding: 10px 60px;
    margin: 1rem;
  }
  #contentNav {
    display: flex;
    align-items: flex-start;
  }
  .navbar_item_list {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 10px;
    place-items: center;
    padding: 0 60px;
    list-style: none;
    .navbar_item {
      padding: 10px 30px;
      text-align: center;
    }
    .navbar_item.active {
      background: white;
      border-radius: 20px;
      box-shadow: 1px 1px 10px 0px #00000030;
      transition: all 0.3s linear;
      a{
        color: #359EF9 !important;
      }
    }
    .navbar_item:hover {
      cursor: pointer;
    }
  }
  a {
    color: #fff;
    text-decoration: none;
  }
  .icon {
    display: none;
    margin: 20px;
    background-color: transparent;
    color: #fff;
    border-color: transparent;
  }
}

@media screen and (max-width: 740px) {
  .navbar li {
    display: none;
  }
  .navbar button.icon {
    float: right;
    display: block;
  }
  .navbar_item_list.responsive {
    height: 95%;
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    top: 5vh;
    grid-auto-flow: row;
    background-color: rgba(255, 255, 255, 0.7);
    -webkit-transition: all 0.6s, display 0s ease-in-out;
    -moz-transition: all 0.6s, display 0s ease-in-out;  
    transition: all 0.6s, display 0s ease-in-out;
    li {
      float: none;
      display: block;
      text-align: center;
    }
    a {
      color: black;
    }
  }
  #contentNav > button:hover {
    cursor: pointer;
  }
  .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
}
