//variables
$hexaValue: 5.19615em;
$copeValue: 3em;
.tecnologies-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    #tecnologies-title {
        text-align: center;
        padding-top: 140px;
        padding-bottom: 20px;
    }
    .hexagonos {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        .imagenTec {
            width: calc(100% * (1/8) - 30px - 1px);
            height: 140px;
            transition: 0.5s;
            display: flex;
            justify-content: center;
            align-items: center;
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            padding: 5px;
            margin-bottom: 50px;
            transition: background-size 2s ease-in-out;
            -moz-transition: background-size 2s ease-in-out;
            -web-kit-transition: background-size 2s ease-in-out;
            p {
                opacity: 0;
                transform: scale(0);
                transition: 0.8s;
                font-size: 1.5rem;
                color: white;
            }
        }
        .imagenTec:hover {
            box-shadow: 0 0 0 200px #051b30bf inset;
            cursor: pointer;
            border-radius: 10px;
            background-size: calc(50%);
            p {
                opacity: 1;
                transform: scale(1);
            }
        }

        .imgTecnologies {
            padding: 10px;
            width: 100px;
        }
        /*  .hexagono {
            height: 6em;
            margin: $hexaValue 0;
            position: relative;
            background-color: #ccc;
            width: calc(2 * $hexaValue);
        }
        .hexagono:before {
            border-right: $hexaValue solid transparent;
            border-bottom: $copeValue solid #ccc;
            border-left: $hexaValue solid transparent;
            content: "";
            height: 0;
            left: 0;
            position: absolute;
            right: 0;
            top: -$copeValue;
            width: 0;
        }
        .hexagono:after {
            border-top: $copeValue solid #ccc;
            border-right: $hexaValue solid transparent;
            border-left: $hexaValue solid transparent;
            bottom: -$copeValue;
            content: "";
            height: 0;
            left: 0;
            position: absolute;
            right: 0;
            width: 0;
        }
                .hexagono:first-child{
            left: -85px;
        }
        .hexagono:nth-child(even){
            background-color: transparent;
        }
        .hexagono:nth-child(even):before{
            border-color: transparent;
        }
        .hexagono:nth-child(even):after {
            border-color: transparent;
        }

        .hexagono:nth-child(odd):not(:first-child){
            top: -200px;
            left: -190px;
        } */
    }
}

@media screen and (max-width: 1000px) {

}
